.row-fluid id="assortment_#{assortment.id}"
  .span4= assortment.name
  .span4= link_to t('edit'), edit_admin_assortment_path(assortment), remote: true
  .span4= link_to t('delete'), admin_assortment_path(assortment), remote: true, method: 'delete'
