.row id="category_#{category.id}"
  .col-md-4= category.name
  .col-md-4= link_to t('edit'), edit_admin_category_path(category), remote: true
  .col-md-4= link_to t('delete'), admin_category_path(category), remote: true, method: 'delete'
