/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require ajaxful_rating
 *= require bootstrap_and_overrides
 *= require styles
 *= require_self
 *= require admin/dashboard
 *= require_tree .
 */

header{
  height: 50px;
}

.content-container {
  width: 1000px;
  margin: 0 auto;
}

.translation_missing {
  border: 2px solid red;
}

.block {
  background: #F2F2F2;
  border: 2px solid grey;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
}

.back-wall {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1040;
  background: url('ajax_loader.gif') no-repeat center;
}

form {
  margin: 0 !important;
}

.modal {
  padding: 20px;
}
