li {
  list-style-type: none;
}
img {
  width: 100%;
}
.preview {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
body {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  background-color: #FFF;
  margin: 0px;
  box-sizing: border-box;
  color: grey;
}
.container-fluid {
  padding: 0;
}
.welcome-content {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  margin-top: -10em;
  z-index: 12;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  h2 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 200;
  }
  .social-links {
    margin: 0px 0px 29px;
    padding: 0px;
    float: left;
    height: 60px;
    width: 100%;
    padding: 0 24%;
    li {
      float: left;
      list-style-type: none;
      margin: 9px 3px 0px 15px;
      border-radius: 30px;
      border: 3px solid #ffffff;
      box-shadow: 0px 4px 0px transparent;
      transition: all 0.3s ease-out 0s;
      font-size: 20px;
      width: 50px;
      height: 50px;
      padding: 5px 0px;
      color: #ffffff;
    }
    li:hover {
      background-color: #008000;
      border-color: #008000;
    }
  }
  .smooth-scroll {
    background-color: #008000;
    border-radius: 5px;
    height: 45px;
    width: 45%;
    text-align: center;
    color: #ffffff;
    padding: 10px;
  }
}
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
  .carousel-indicators {
    li {
      margin: 0 5px;
      height: 15px;
      width: 15px;
    }
    li.active {
      background-color: #008000;
    }
  }
  .item img {
    width: 3894px;
    height: 800px;
  }
}
.products {
  h3 {
    color: #54535a;
    text-align: center;
    width: 100%;
  }
  .container {
    width: 100%;
    margin: 20px 20px 10px 20px;
    padding: 0 45px;
  }
  .product {
    float: left;
    border: 1px solid #9c9ba2;
    height: 230px;
    width: 350px;
    margin: 20px 20px;
    border-radius: 10px;
    .product-action {
      visibility:hidden;
      height: 0;
      i {
        position: relative;
        bottom: 145px;
        left: 140px;
        font-size: 75px;
        color: #000000;
      }
    }
    .product-description {
      float: left;
      width: 100%;
      height: 40px;
      padding-top: 5px;
      .product-name {
        float: left;
        width: 80%;
        height: 40px;
        color: #008000;
        padding-left: 10px;
      }
      .product-price {
        float: left;
        width: 20%;
        height: 40px;
        color: grey;
        text-align: right;
        padding-right: 10px;
      }
    }
  }
  .product:hover {
    opacity: 0.5;
    cursor: pointer;
    .product-action {
      visibility:visible;
    }
  }
  .product img {
    width: 350px;
    height: 230px;
    border: 1px solid #9c9ba2;
    border-radius: 10px;
  }
}
input[type="submit"] {
  width: 100px;
}
.cancel {
  width: 100px;
  a {
    color: #808080;
  }
}



/* Show left panell*/

.show-menu {
  height: auto;
  border: 1px solid #e0e0e0;
  padding: 0;
  padding-bottom: 20px;
  .img-responsive {
    height: 700px;
    width: 100%;
    background: image-url('ec_guy.jpg') no-repeat;
    background-size: 100% 100%;
    .handpicked {
      float: left;
      width: 200px;
      height: 30px;
      background-color: #40C781;
      color: #ffffff;
      padding: 2px;
      font-size: 15px;
    }
  }
  .product-menu {
    width: 100%;
    padding: 0 15px;
    .product-code {
      float: left;
      margin-left: 15px;
      font-size: 14px;
    }
    .product-code-description {
      float: left;
      padding-left: 5px;
      font-size: 15px;
      font-weight: bold;
    }
    .icheckbox_flat-grey {
      float: left;
      width: 20px;
      height: 20px;
      background-color: #d1d1d1;
      border-radius: 5px;
    }
    .custom {
      float: left;
      margin-right: 20px;
    }
  }
  .loadToSuccess {
    background-color: #21B093;
    color: #ffffff;
    margin: 20px 0 30px 0;
    margin-left: 20px;
    a {
      color: #ffffff;
    }
  }
  .loadToSuccess:hover {
    background-color: #22cdaf;
  }
  .tab-content {
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
  }
  li {
    a:focus {
      outline: none;
    }
  }
}




/* Show right panell*/

.productsrow {
  -moz-column-width: 230px;
  -moz-column-count: 2;
  -moz-column-gap: 5px;
  padding: 0 10px;
  .first {
    border: 1px solid #e0e0e0;
    background-color: #E2E0DC;
    width: 230px;
    border-radius: 5px;
    margin-bottom: 20px;
    .ad {
      padding: 10px 10px 30px 20px;
      height: 120px;
      width: 150px;
    }
    .ads {
      font-size: 12px;
    }
  }
  .product-grid {
    margin-bottom: 20px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #D7D7D7;
    .container-item {
      .item {
        position: relative;
        overflow: hidden;
        .product-images {
          padding: 0px;
          margin-bottom: 0px;
          position: relative;
        }
        .item-overlay {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          .item-button {
            visibility: hidden;
            position: absolute;
            left: 20px;
            color: #ffffff;
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 0 2px 4px 0;
            border-radius: 5px;
            &.buy {
              top: 20px;
              background-color: #40C781;
            }
            &.details {
              top: 60px;
              background-color: #908992;
            }
          }
          .sale-tag {
            position: relative;
            width: 50px;
            height: 100px;
            background: none repeat scroll 0% 0% #40C781;
            transform: rotate(-45deg);
            top: -40px;
            left: 233px;
            span {
              position: absolute;
              top: 42px;
              left: 2px;
              transform: rotate(45deg);
              color: #ffffff;
              font-size: 11px;
            }
          }
        }
      }
      .item:hover {
        opacity: 0.9;
        cursor: pointer;
        .item-button {
          visibility: visible;
        }
      }
    }
    .widget-text {
      padding: 15px;
      .link {
        color: #54535a;
      }
      .post-meta {
        font-size: 12px;
      }
      .badge {
        background-color: #F32A4E;
        color: #ffffff;
      }
      .amount {
        padding: 0 5px;
      }
      .crimson-color {
        color: crimson;
        padding: 0 5px;
      }
    }
    .entry-footer {
      border-top: 1px solid #D7D7D7;
      padding: 10px;
      .datetime {
        font-size: 12px;
        .fa-calendar {
          padding-right: 5px;
        }
      }
    }
  }
}
#rate {
  img {
    width: 12%;
  }
}
.product-name {
  text-align: center;
}

/*     Users/Sign_in    */
#new_user {
  width: 350px;
}
#user_email, #user_password {
  float: right;
  height: 30px;
}



/* Admin Product Show */
.products-show {
  border: 1px solid darkgray;
  border-radius: 5px;
  margin-bottom: 15px;
  .show-description {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .variant-params {
    float: left;
    width: 70px;
    padding-left: 25px;
  }
  .price {
    float: right;
    text-align: right;
    padding: 5px 15px 0 0 ;
  }
  .product-picture {
    width: 120px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
  }
}


/* Admin Product Edit */
.distance {
  margin-left: 10px;
  margin-right: 10px;
}


